$primary-color-1: hsl(243, 86%, 85%);
$primary-color-2: hsl(243, 87%, 12%);
$accent: hsl(163, 95%, 43%);
$neutral: hsl(0, 0%, 50%);

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.main-nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    z-index: 1000;
    display: flex;
    align-items: center;

    &__brand {
        margin-right: auto;

        img {
            height: 1.25rem; 
        }
    }

    &__items {
        list-style: none;
        display: flex;
    }

    .social-icon {
        width: 2rem;
        height: 2rem;
        color: white;
    }
}

.main-header {
    background-image: url('images/illustration-main.svg');
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    height: 23rem;

    &__image {
        width: 100%;
    }

    &__illustration {
        position: absolute;
        width: 100%;
        padding: 3rem;
        margin: 3rem auto;
    }
}

.main-section {
    padding: 1rem 2rem;

    &__text {
        color: $neutral;
        font-size: 0.9rem;
    }

    &__form {
        display: flex;
        flex-direction: column;

        label {
            font-weight: 600;
        }

        &--input {
            margin: 0.75rem 0;
            padding: 0.5rem 0.5rem;
            border-radius: 5px;
            width: 100%;
            border: 1px solid lighten($neutral, 20);
        }

        &--button {
            width: 40%;
            padding: 0.5rem 0;
            background-color: $accent;
            color: white;
            border: 0;
            border-radius: 3px;
        }
    }
}

.main-section__link {
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    float: right;
    font-size: 0.8rem;
}

@media (min-width: 40rem) {
   
    .main-nav {
        grid-area: nav;
    }

    .main-header {
        grid-area: header;
    }

    .main-section {
        grid-area: section;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1.25fr;
        grid-template-areas: 
        "header nav"
        "header section";
    }
}