*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

ul, ol {
  margin: 0;
  padding: 0; }

.main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1rem 2rem;
  z-index: 1000;
  display: flex;
  align-items: center; }
  .main-nav__brand {
    margin-right: auto; }
    .main-nav__brand img {
      height: 1.25rem; }
  .main-nav__items {
    list-style: none;
    display: flex; }
  .main-nav .social-icon {
    width: 2rem;
    height: 2rem;
    color: black; }

.main-header {
  background-image: url("images/illustration-main.svg");
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem; }
  .main-header__image {
    width: 100%; }
  .main-header__illustration {
    position: absolute;
    width: 100%;
    padding: 3rem 3rem; }

.main-section {
  padding: 1rem 2rem; }
  .main-section__text {
    color: gray; }
  .main-section__form {
    display: flex;
    flex-direction: column; }
    .main-section__form label {
      font-weight: 600; }
    .main-section__form--input {
      margin: 0.75rem 0;
      padding: 0.5rem 0.5rem;
      border-radius: 5px;
      width: 100%;
      border: 1px solid #b3b3b3; }
    .main-section__form--button {
      width: 40%;
      padding: 0.5rem 0;
      background-color: #05d69b;
      color: white;
      border: 0;
      border-radius: 3px; }

.main-section__link {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  float: right;
  font-size: 0.8rem; }

@media (min-width: 40rem) {
  .main-nav {
    grid-area: nav; }
  .main-header {
    grid-area: header; }
  .main-section {
    grid-area: section; }
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    grid-template-areas: "header nav" "header section"; } }
